mixin error(name)
    .form__error(data-form-error=name)
mixin input(type, id, label, className)
    div(class=`form__row${className ? ' ' + className : '' }`)
        input.form__input(id=id, name=id, type=type, data-prevent-hiding-auth, required)
        if label
            label.form__label(for=id) #{label}
        +error(id)
div(data-changelog-subscription-form)
    .lightbox-form.lightbox-form--hidden
        .lightbox-form__response-wrapper
            .lightbox-form__close
            form.lightbox-form__form.form&attributes(smartLink?.itemId(UIMessages.system.id))
                +input('email', 'email', 'Email')
                .form__row
                    .form__recaptcha-disabled
                    #g-recaptcha-placeholder
                    +error('g-recaptcha-response')
                .form__row.form__row--btn
                    button.form__button
                        span Subscribe
                        span
        if process.env['Recaptcha.v2.site']
            #recaptcha-script(data-site=process.env['Recaptcha.v2.site'])