mixin error(name)
    .form__error(data-form-error=name)
mixin input(type, id, label, className)
    div(class=`form__row${className ? ' ' + className : '' }`)
        input.form__input(id=id, name=id, type=type)
        if label
            label.form__label(for=id)&attributes(smartLink?.elementCodename('feedback_form___email_label')) #{label}
        +error(id)
mixin textarea(id, label)
    .form__row
        textarea.form__input.form__input--textarea(id=id, name=id, required='required')
        if label
            label.form__label(for=id)&attributes(smartLink?.elementCodename('feedback_form___feedback_label')) #{label}
        +error(id)
.lightbox-form.lightbox-form--hidden(data-lightbox-form='feedback')
    .lightbox-form__response-wrapper
        .lightbox-form__close
        form.lightbox-form__form.form&attributes(smartLink?.itemId(UIMessages.system.id))
            .feedback__message#noMsg.feedback__message--no&attributes(smartLink?.elementCodename('feedback_form___no_message')) !{helper.getValue(UIMessages, 'feedback_form___no_message')}
            +textarea('feedback', helper.getValue(UIMessages, 'feedback_form___feedback_label'))
            +input('email', 'email', helper.getValue(UIMessages, 'feedback_form___email_label'))
            .form__row
                .form__recaptcha-disabled
                #g-recaptcha-placeholder
                +error('g-recaptcha-response')
            .form__row.form__row--btn
                button.form__button&attributes(smartLink?.elementCodename('feedback_form___submit_button'))
                    span !{helper.getValue(UIMessages, 'feedback_form___submit_button')}
                    span
    if process.env['RECAPTCHA_V2_SITE']
        #recaptcha-script(data-site=process.env['RECAPTCHA_V2_SITE'])