meta(name='viewport', content='width=device-width, initial-scale=1')
meta(charset='utf-8')
- const titleSuffix = (slug !== 'home' ? ` | ${helper.getValue(UIMessages, 'portal_name')}` : '');
title !{title}!{titleSuffix}
if (title)
    meta(property='og:title', content=`${title.trim().replace(/\s+/g, ' ').replace(/"/g, '&quot;')}${titleSuffix}`)
if description
    - description = description.trim().replace(/\s+/g, ' ').replace(/"/g, '&quot;')
    meta(name='description', content=description)
    meta(property='og:description', content=description)
meta(property='og:image', content=`${helper.getDomain()}/learn/img/kai-og.png`)
if (process.env.IS_PRODUCTION !== 'false')
    if ((content && content.visibility && content.visibility.value.filter(item => item.codename === 'excluded_from_search').length) || status === 404)
        meta(name='robots', content='noindex,nofollow')
    else 
        meta(name='robots', content='index,follow')
else
    meta(name='robots', content='noindex,nofollow')
link(rel='preload' as='font' href='/learn/fonts/WorkSans-Regular.woff2' type='font/woff2' crossorigin='anonymous')
link(rel='preload' as='font' href='/learn/fonts/WorkSans-Regular.woff' type='font/woff' crossorigin='anonymous')
link(rel='preload' as='font' href='/learn/fonts/WorkSans-Bold.woff2' type='font/woff2' crossorigin='anonymous')
link(rel='preload' as='font' href='/learn/fonts/WorkSans-Bold.woff' type='font/woff' crossorigin='anonymous')
if (containsChangelog)
    link(rel='stylesheet', href=`/learn/css/air-datepicker.css?v=${deployVersion}`)
if (isReference)
    link(rel='stylesheet', href=`/learn/css/apireference.min.css?v=${deployVersion}`)
else 
    link(rel='stylesheet', href=`/learn/css/app.min.css?v=${deployVersion}`)
if (req.query.pdf)
    link(rel='stylesheet', href=`/learn/css/pdf.css?v=${deployVersion}`)
script var auth0Config = {domain:"#{process.env['AUTH0_DOMAIN']}",clientID:"#{process.env['AUTH0_CLIENT_ID']}",logoutUrl:"#{process.env['AUTH0_LOGOUT_URL']}"};var appUrl="#{process.env['APP_URL']}";
if helper
    script var searchAPI={appid:"#{process.env['SEARCH_APP_ID']}",apikey:"#{process.env['SEARCH_API_KEY']}",indexname:"#{process.env['SEARCH_INDEX_NAME']}"};
if UIMessages
    script var UIMessages={systemid:"#{isPreview ? UIMessages.system.id : ''}",unanswered:"!{helper.escapeQuotes(helper.removeNewLines(helper.getValue(UIMessages, 'training___test___not_filled_in')))}",noItemsFound:"!{helper.escapeQuotes(helper.removeNewLines(helper.getValue(UIMessages, 'training___no_filter_results')))}",agreeFairPolicy:"#{helper.removeNewLines(helper.getValue(UIMessages, 'training___not_agreed_to_fair_use_policy'))}",toc:"#{helper.removeNewLines(helper.getValue(UIMessages, 'training___toc'))}",comingSoon:"#{helper.removeNewLines(helper.getValue(UIMessages, 'training___cta_coming_soon'))}",productName:"#{helper.removeNewLines(helper.getValue(UIMessages, 'product_name'))}",signIn:"#{helper.removeNewLines(helper.getValue(UIMessages, 'sign_in_button'))}",signOut:"#{helper.removeNewLines(helper.getValue(UIMessages, 'sign_out_button'))}",addToLinkedIn:"#{helper.removeNewLines(helper.getValue(UIMessages, 'training___add_to_linkedin'))}",downloadCertificate:"#{helper.removeNewLines(helper.getValue(UIMessages, 'training___download_certificate'))}",signUp:"#{helper.removeNewLines(helper.getValue(UIMessages, 'sign_up_button'))}",searchNoResults:"#{helper.removeNewLines(helper.getValue(UIMessages, 'search___no_results'))}",dntLabel:"#{helper.removeNewLines(helper.getValue(UIMessages, 'embedded_content_dnt_notice'))}",copyCode:"#{helper.removeNewLines(helper.getValue(UIMessages, 'code_block___copy_code_button'))}",copyCodeActive:"#{helper.removeNewLines(helper.getValue(UIMessages, 'code_block___copy_code_button_active'))}",emptyCodeBlock:"#{helper.removeNewLines(helper.getValue(UIMessages, 'code_block___empty_state_text'))}",nextPartText:"#{helper.removeNewLines(helper.getValue(UIMessages, 'next_part_link_text'))}",prevPartText:"#{helper.removeNewLines(helper.getValue(UIMessages, 'previous_part_link_text'))}",showMore:"#{helper.removeNewLines(helper.getValue(UIMessages, 'home___show_more'))}",showLess:"#{helper.removeNewLines(helper.getValue(UIMessages, 'home___show_less'))}",videoPause:"#{helper.removeNewLines(helper.getValue(UIMessages, 'video___pause'))}",videoPlay:"#{helper.removeNewLines(helper.getValue(UIMessages, 'video___play'))}",videoReplay:"#{helper.removeNewLines(helper.getValue(UIMessages, 'video___replay'))}",videoExpand:"#{helper.removeNewLines(helper.getValue(UIMessages, 'video___expand'))}",selectedAffectedServices:"#{helper.removeNewLines(helper.getValue(UIMessages, 'selected_affected_services'))}",selectedReleasedMonths:"#{helper.removeNewLines(helper.getValue(UIMessages, 'selected_released_months'))}"};
if platformsConfig
    script var platformsConfig=[
        each item, index in platformsConfig
            | {url:"#{item.url}",platform:"#{item.platform}"}
            if index < platformsConfig.length - 1
                | ,
        | ]
if termDefinitions
    script var termDefinitions=[
        each item, index in termDefinitions
            | {id:"#{item.system.id}",codename:"#{item.system.codename}",term:"#{item.term.value}",text:"!{helper.removeNewLines(helper.escapeQuotes(item.definition.value, res))}"}
            if index < termDefinitions.length - 1
                | ,
        | ]
if (process.env['GTM_ID'])
    script function initGTM(){(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','#{process.env['GTM_ID']}');};
else 
    script function initGTM(){return false;}
if isPreview
    link(rel='stylesheet', href=`/learn/css/kontentsmartlink.min.css?v=${deployVersion}`)
    script(src=`/learn/js/kontentsmartlink.min.js?v=${deployVersion}`, defer='')
script(src=`/learn/js/algolia.min.js?v=${deployVersion}`, defer='')
script var ALGOLIA_INSIGHTS_SRC = "/learn/js/search-insights.min.js?v=!{deployVersion}";!function(e,a,t,n,s,i,c){e.AlgoliaAnalyticsObject=s,e[s]=e[s]||function(){(e[s].queue=e[s].queue||[]).push(arguments)},i=a.createElement(t),c=a.getElementsByTagName(t)[0],i.async=1,i.src=n,c.parentNode.insertBefore(i,c)}(window,document,"script",ALGOLIA_INSIGHTS_SRC,"aa");

if (isReference)
    script(src=`/learn/js/apireference.min.js?v=${deployVersion}`, defer='', onload='initGTM()')
else
    script(src=`/learn/js/app.min.js?v=${deployVersion}`, defer='', onload='initGTM()')
if (containsChangelog)
    script(src=`/learn/js/changelog.min.js?v=${deployVersion}`, defer='')
if (containsTrainingCourse)
    script(src=`/learn/js/elearning.min.js?v=${deployVersion}`, defer='')
if (isLandingPage)
    script(src=`/learn/js/landing-page.min.js?v=${deployVersion}`, defer='')
if canonicalUrl
    link(rel='canonical', href=`${canonicalUrl}`)
link(rel='apple-touch-icon', sizes='57x57', href='/learn/img/favicon/apple-icon-57x57.png?v=1')
link(rel='apple-touch-icon', sizes='60x60', href='/learn/img/favicon/apple-icon-60x60.png?v=1')
link(rel='apple-touch-icon', sizes='72x72', href='/learn/img/favicon/apple-icon-72x72.png?v=1')
link(rel='apple-touch-icon', sizes='76x76', href='/learn/img/favicon/apple-icon-76x76.png?v=1')
link(rel='apple-touch-icon', sizes='114x114', href='/learn/img/favicon/apple-icon-114x114.png?v=1')
link(rel='apple-touch-icon', sizes='120x120', href='/learn/img/favicon/apple-icon-120x120.png?v=1')
link(rel='apple-touch-icon', sizes='144x144', href='/learn/img/favicon/apple-icon-144x144.png?v=1')
link(rel='apple-touch-icon', sizes='152x152', href='/learn/img/favicon/apple-icon-152x152.png?v=1')
link(rel='apple-touch-icon', sizes='180x180', href='/learn/img/favicon/apple-icon-180x180.png?v=1')
link(rel='icon', type='image/png', sizes='192x192', href='/learn/img/favicon/android-icon-192x192.png?v=1')
link(rel='icon', type='image/png', sizes='32x32', href='/learn/img/favicon/favicon-32x32.png?v=1')
link(rel='icon', type='image/png', sizes='96x96', href='/learn/img/favicon/favicon-96x96.png?v=1')
link(rel='icon', type='image/png', sizes='16x16', href='/learn/img/favicon/favicon-16x16.png?v=1')
link(rel='manifest', href='/learn/img/favicon/manifest.json?v=1')
link(rel='search' type='application/opensearchdescription+xml' title=helper.getValue(UIMessages, 'portal_name') href='/learn/opensearch.xml?v=1')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='/learn/img/favicon/ms-icon-144x144.png?v=1')
meta(name='theme-color', content='#ffffff')
meta(name='format-detection', content='telephone=no')