- var isNotHome = req.originalUrl.replace(/\?.*$/, '') !== '/learn/'
.print-only
    img.logo(src='/learn/img/ui/logo.png', alt='Kontent by Kentico Learning Center')
nav.navigation
    .navigation__wrapper
        .navigation__left
            .navigation__logo-wrapper
                a.navigation__logo(href='/learn/', rel='noreferrer')
                    img(src='/learn/img/ui/logo.svg', alt='Kontent by Kentico Learning Center')
            ul(class= `navigation__list`)
                each item in navigation
                    if (item.system.type !== 'navigation_link')
                        li.navigation__item
                            a(href=`/learn/${item.url.value}`, class=`navigation__link${req.originalUrl.startsWith(`/learn/${item.url.value}`) ? ' navigation__link--active' : ''}`) !{item.title.value}
        .navigation__right(data-search-target='')
            if isNotHome
                .navigation__search-wrapper
                    form.navigation__search(data-search-container='')
                        .navigation__search-icon(aria-hidden='true')
                        label.sr-only(for='nav-search') !{UIMessages ? UIMessages.search___placeholder.value : ''}
                        input(type='search', id='nav-search', name='nav-search', autocomplete="off", placeholder= UIMessages ? UIMessages.search___placeholder.value : '')&attributes(smartLink?.itemId(UIMessages.system.id))&attributes(smartLink?.elementCodename('search___placeholder'))
                        .autocomplete(data-search-autocomplete='')
            .navigation__auth(data-nav-auth)
        .navigation__trigger(data-search-trigger='', aria-hidden='true')
