doctype html
html(lang='en')
    head
      include style.pug
    body
      - let title = attempt.test.title;
      - const productName = helper.getValue(UIMessages, 'product_name');
      - if (attempt.test.title.startsWith(productName)) title = title.replace(productName, '').trim()
      .certificate
        .certificate__top
          .certificate__logo
            img(src='/learn/img/ui/logo-kontent.svg?v=1')
          .certificate__text.certificate__text--bold Certificate
          .certificate__name !{productName} !{title}
            span .
          .certificate__text This is to certify that
          - const name = attempt.username || attempt.email;
          .certificate__username !{name}
          - let text = 'has successfully completed the examination and is qualified to receive all benefits and recognition.';
          - if (attempt.test.codename === 'developer_certification') text = 'has successfully completed the Certified Developer examination and is qualified to receive all benefits and recognition of a Kontent Certified Developer.';
          - if (attempt.test.codename === 'business_qualification') text = 'has successfully completed the Business Qualification examination and has demonstrated an understanding of Kontent features and capabilities.';
          .certificate__text !{text}
        .certificate__bottom
          .certificate__column
            .certificate__value !{moment(attempt.end).format('MMMM D, YYYY')}
            .certificate__label Valid from
          .certificate__column
            .certificate__value !{moment(attempt.certificate_expiration).format('MMMM D, YYYY')}
            .certificate__label Valid to
          .certificate__column.certificate__column--wide
            .certificate__value
              img(src='/learn/img/ui/signature-bart-omlo.png')
            .certificate__label 
              | Bart Omlo, CEO
              br
              | Kontent.ia
          .certificate__id Certificate ID: !{attempt.id}
       
