doctype html
html(lang='en')
    head
      link(rel='stylesheet', href=`/learn/css/certificate.css?v=${deployVersion}`)
    body
      .certificate
        .certificate__top
          .certificate__logo
            img(src='/learn/img/ui/logo-kontent.svg')
          .certificate__name Certificate of Completion
            span .
          .certificate__text This certificate is awarded to
          .certificate__username !{attempt.username}
          .certificate__email !{attempt.email}
          .certificate__text Following the successful completion of
          .certificate__course !{attempt.test.title}
        .certificate__bottom
          .certificate__column
            .certificate__value !{moment(attempt.start).format('MMMM D, YYYY')}
            .certificate__label Valid from
          .certificate__column
            .certificate__value !{moment(attempt.certificate_expiration).format('MMMM D, YYYY')}
            .certificate__label Valid to
          .certificate__column.certificate__column--wide
            .certificate__value
              img(src='/learn/img/ui/signature-tomas-nosek.png')
            .certificate__label 
              | Tomas Nosek,
              br
              | Kontent by Kentico
              br
              | Customer Education Leader
       
