extends ../includes/layout.pug
mixin lmsInfo(environment)
  - var lmsInfoEnv = trainingCourseInfo[environment]
  - var isPreview = environment === 'preview'
  - var prefix = isPreview ? '(Preview) ' : ''
  if (lmsInfoEnv)
    .article__row-links&attributes(smartLink?.itemId(UIMessages.system.id))
      if (lmsInfoEnv.renderAs === 'button')
        a.call-to-action(href= lmsInfoEnv.url, target= lmsInfoEnv.target ? lmsInfoEnv.target : '_self')
          span !{prefix}!{lmsInfoEnv.text}
          span
      else
        span !{prefix}!{lmsInfoEnv.text}
      if (lmsInfoEnv.certificate)
        a.link(href= lmsInfoEnv.certificate, target='_blank')&attributes(smartLink?.elementCodename('training___download_certificate')) !{UIMessages.training___download_certificate.value}
      if (!isPreview && lmsInfoEnv.signedIn)
        a.link(href='/logout')&attributes(smartLink?.elementCodename('sign_out_button')) !{UIMessages.sign_out_button.value}
block content
    main(id='main')
        .article
            .article__left
            .article__right
                .article__content&attributes(smartLink?.itemId(itemId))
                    h1&attributes(smartLink?.elementCodename('title')) !{content.title.value}
                    .article__notes
                      span&attributes(smartLink?.elementCodename('duration')) !{UIMessages.training___estimated_duration.value} !{content.duration.value} !{content.duration.value === 1 ? 'hour' : `hours`}
                      if (content.persona.value.length)
                        ul.article__tags&attributes(smartLink?.elementCodename('persona'))
                          each item in content.persona.value
                            li.article__tags-item.article__tags-item--green !{item.name}
                      if (trainingCourseInfo['production'] && trainingCourseInfo['production'].completion)
                        span !{trainingCourseInfo['production'].completion}% complete
                      if (isPreview)
                        a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/${language}/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    div&attributes(smartLink?.elementCodename('introduction')) !{minify(content.introduction.value)}
                    div&attributes(smartLink?.elementCodename('description')) !{minify(content.description.value)}
                    +lmsInfo('general')
                    +lmsInfo('production')
                    +lmsInfo('preview')
                    