extends ../includes/layout.pug
block content
    main(id='main', data-certification-result=itemCodename)
      .article
        .article__content
          h1 !{title}
          if (attempt.score !== null)
            h2 Score: !{attempt.score}%
            if (attempt.score >= attempt.test.score_to_pass)
              | !{content.success_message.value}
            else 
              | !{content.failure_message.value}
            .certification-test.certification-test--results
              if (incorrect.length && helper.isNotEmptyRichText(content.heading_for_incorrect_answers.value))
                | !{content.heading_for_incorrect_answers.value}
              each item in incorrect
                .certification-test__question !{item.question}
                .certification-test__answer.certification-test__answer--incorrect 
                  span.certification-test__answer-label !{helper.getValue(UIMessages, 'traning___test___your_answer')} 
                  | !{item.answer}
            script var trainingCertificationTestCodename='!{content.system.codename}';var attemptId='!{attempt.id}';
            .article__training-action.article__training-action--result#trainingAction&attributes(smartLink?.itemId(UIMessages.system.id))