extends ../includes/layout.pug
block content
    - const isLoading = (typeof req.query.enroll !== 'undefined')
    main(id='main')
        if isLoading
          .loading-overlay
        .article
            .article__left
              include ../includes/sub-navigation.pug
            .article__right
                .article__content&attributes(smartLink?.itemId(itemId))
                    if termDefinitions
                      .term-tooltip-container(aria-hidden='true')
                        .term-tooltip-content
                        .term-tooltip-close
                        .term-tooltip-arrow
                    h1&attributes(smartLink?.elementCodename('title')) !{content.title.value}
                    .article__notes#trainingNotes
                      span Consists of !{testQuestionsNumber} questions
                      span&attributes(smartLink?.elementCodename('test_duration')) !{UIMessages.training___duration.value} !{content.test_duration.value} !{content.test_duration.value === 1 ? 'minute' : `minutes`}
                      span&attributes(smartLink?.elementCodename('score_to_pass')) Score to pass is !{content.score_to_pass.value} %
                      if (isPreview)
                        a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/${language}/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    if helper.isNotEmptyRichText(content.description.value)
                      div&attributes(smartLink?.elementCodename('description')) !{postprocessMarkup(content.description.value, res)}
                    if helper.isNotEmptyRichText(content.introduction.value)
                      div&attributes(smartLink?.elementCodename('introduction')) !{postprocessMarkup(content.introduction.value, res)}
                    script var trainingCertificationTestCodename='!{content.system.codename}';
                    .article__training-action#trainingAction&attributes(smartLink?.itemId(UIMessages.system.id))
                    