extends ../includes/layout.pug
block content
    main(id='main', data-certification-result=itemCodename)
      h1.certification-test__heading !{title}
      if (attempt.score)
        h2.certification-test__score Score: !{attempt.score}%
      .certification-test__text
        if (attempt.score >= attempt.test.score_to_pass)
          | !{content.success_message.value}
          a(href=`/learn/get-certified/exam/${attempt.id}/certificate/`).call-to-action.call-to-action--left-spacing
            span Download certificate
            span
        else 
          | !{content.failure_message.value}
      if (attempt.score !== null)
        each topic in attempt.test.questions
          each question in topic.questions
            - const anyAnswer = question.answers.find(answer => answer.answer);
            - let incorrect = false;
            - if (anyAnswer) incorrect = question.answers.find(answer => !answer.correct && answer.answer);
            if (incorrect)
              .certification-test__question !{question.html}
              ul.certification-test__answers
                li(class='certification-test__answer certification-test__answer--incorrect') !{incorrect.html}