extends ../includes/layout.pug
block content
  .utilities-lp-bg
  main.landing-page(id='main', data-lp)
    h1.landing-page__heading.utilities-dot !{title}
    .landing-page__auth(data-lp-auth)
    .landing-page__promoted(data-lp-promoted)
      .tile&attributes(smartLink?.itemId(content.promoted.system.id))
        .tile__img&attributes(smartLink?.elementCodename('thumbnail'))
          img(src=content.promoted.thumbnail.value[0].url)
        .tile__content
          h2.tile__title&attributes(smartLink?.elementCodename('title')) !{content.promoted.title.value}
            - const isFree = content.promoted.is_free ? helper.isCodenameInMultipleChoice(content.promoted.is_free.value, 'yes') : false;
            if (isFree)
              span.tile__tag.tile__tag--green&attributes(smartLink?.elementCodename('is_free')) !{UIMessages.training___free_course_label.value}
          if helper.isNotEmptyRichText(content.promoted.description.value)
            .tile__description&attributes(smartLink?.elementCodename('description')) !{postprocessMarkup(content.promoted.description.value, res)}
          a(href=`#${content.promoted.url.value}`).tile__cta 
            span Course detail
            span
    .landing-page__filter
      .landing-page__filter-item(data-lp-roles)
      .landing-page__filter-item(data-lp-progress)
      .landing-page__filter-item(data-lp-search)
    .landing-page__items
      each topic in content.topics
        if (topic.courses.length)
          h2.landing-page__subheading !{topic.name}
          .landing-page__courses.splide
            .splide__track
              ul.splide__list
                each course in topic.courses
                  li.splide__slide
                    .card&attributes(smartLink?.itemId(course.system.id))
                      .card__img&attributes(smartLink?.elementCodename('thumbnail'))
                        img(src=course.thumbnail.value[0].url)
                      .card__content
                        .card__top
                          if (course.personas___topics__training_persona.value.length)
                            ul.card__tag-list
                              each persona in course.personas___topics__training_persona.value
                                li.card__tag !{persona.name}
                          h3.card__title&attributes(smartLink?.elementCodename('title')) !{course.title.value}
                            - const isFree = course.is_free ? helper.isCodenameInMultipleChoice(course.is_free.value, 'yes') : false;
                            if (isFree)
                              span.card__tag.card__tag--green&attributes(smartLink?.elementCodename('is_free')) !{UIMessages.training___free_course_label.value}
                        .card__bottom
                          .card__row.card__row--space-between
                            .card__cta Course detail
                            .card__certificate
                          .card__row.card__row--end
                            .card__duration&attributes(smartLink?.elementCodename('duration')) !{course.duration.value} min