extends ../includes/layout.pug
block content
  script var pathRoot='!{pathRoot}';
  .utilities-lp-bg
  main.landing-page(id='main', data-lp)
    h1.landing-page__heading.utilities-dot(data-lp-title) !{pageHeading}
    .landing-page__auth(data-lp-auth)
    .landing-page__promoted(data-lp-promoted='loading')
      .tile&attributes(smartLink?.itemId(content.promoted.system.id))
        .tile__img&attributes(smartLink?.elementCodename('thumbnail'))
          img(src=content.promoted.thumbnail.value[0].url, data-lp-lightbox-data='image')
        .tile__content
          h2.tile__title(data-lp-lightbox-data='title')&attributes(smartLink?.elementCodename('title')) !{content.promoted.title.value}
            - const isFree = content.promoted.is_free ? helper.isCodenameInMultipleChoice(content.promoted.is_free.value, 'yes') : false;
            if (isFree)
              span.tile__tag.tile__tag--green&attributes(smartLink?.elementCodename('is_free')) !{UIMessages.training___free_course_label.value}
          .tile__description(data-lp-lightbox-data='description')&attributes(smartLink?.elementCodename('description'))
            if helper.isNotEmptyRichText(content.promoted.description.value)
              | !{postprocessMarkup(content.promoted.description.value, res)}
          a(href=`${pathRoot}${content.promoted.url.value}/`, data-lp-link, data-lp-lightbox-invoke=content.promoted.system.id, data-lp-lightbox-data='link').tile__cta 
            span !{UIMessages.training___view_details.value}
            span
    .landing-page__filter(data-lp-filter-group)
      .landing-page__filter-group
        .landing-page__filter-item(data-lp-roles)
        .landing-page__filter-item(data-lp-progress)
      .landing-page__filter-group
        .landing-page__filter-item(data-lp-search)
    .landing-page__items(data-lp-filter-container)
      each topic in content.topics
        if (topic.courses.length)
          .landing-page__courses-group
            - const anchor = helper.generateAnchor(topic.name)
            h2.landing-page__subheading(id=`a-${anchor}`) 
              a.anchor-copy(href=`#a-${anchor}`, aria-hidden='true')
              | !{topic.name}
            .landing-page__courses.splide
              .splide__track
                ul.splide__list
                  each course in topic.courses
                    li.splide__slide(data-lp-filter-item)
                      - const comingSoon = helper.isCodenameInMultipleChoice(course.display_options ? course.display_options.value : [], 'hide_cta_button');
                      .card(data-lp-lightbox, data-lp-item=course.system.id)&attributes(smartLink?.itemId(course.system.id))&attributes((detailCourse && detailCourse.system.codename) === course.system.codename ? { 'data-lp-lightbox-autoinvoke' : '' } : {})&attributes(comingSoon ? { 'data-lp-comingsoon' : '' } : '')
                        a.card__link(href=`${pathRoot}${course.url.value}/`, data-lp-link)
                        .card__img&attributes(smartLink?.elementCodename('thumbnail'))
                          if (course.thumbnail && course.thumbnail.value.length)
                            img(src=course.thumbnail.value[0].url, data-lp-lightbox-data='image')
                        .card__content
                          .card__top
                            if (course.personas___topics__training_persona.value.length)
                              ul.card__tag-list(data-lp-lightbox-data='personas')
                                each persona in course.personas___topics__training_persona.value
                                  li.card__tag(data-lp-persona=persona.codename) !{persona.name}
                            h3.card__title(data-lp-lightbox-data='title')&attributes(smartLink?.elementCodename('title')) 
                              span.card__title-text !{course.title.value}
                              - const isFree = course.is_free ? helper.isCodenameInMultipleChoice(course.is_free.value, 'yes') : false;
                              if (isFree)
                                span(data-lp-lightbox-data='free').card__tag.card__tag--green&attributes(smartLink?.elementCodename('is_free')) !{UIMessages.training___free_course_label.value}
                            .card__description(data-lp-lightbox-data='description')
                              if (course.description && helper.isNotEmptyRichText(course.description.value))
                                | !{postprocessMarkup(course.description.value, res)}
                              if (course.introduction && helper.isNotEmptyRichText(course.introduction.value))
                                |!{postprocessMarkup(course.introduction.value, res)}
                          .card__bottom
                            .card__row.card__row--space-between
                              .card__cta !{UIMessages.training___view_details.value}
                              .card__certificate(data-lp-certificate)
                            .card__row.card__row--end
                              - const durationProperty = course.duration ? 'duration' : 'test_duration';
                              if (course[durationProperty].value)
                                .card__duration(data-lp-lightbox-data='duration')&attributes(smartLink?.elementCodename(durationProperty)) !{course[durationProperty].value} min