extends ../includes/layout.pug
block content
    main(id='main').presentation
        .article
            .article__content
                h1 Active redirects
                h2 Redirect rules
                table
                    tr
                        td Redirect to
                        td Redirect from
                    if redirectRules.length
                        each url in redirectRules   
                            tr
                                td
                                    a(href= `${url.originalUrl.includes('://') ? `${req.protocol}://${req.get('host')}` : ''}${url.originalUrl}`, target='_blank') #{url.originalUrl}
                                td
                                    ol
                                        each redirect in url.redirectUrls
                                            li #{redirect.url} 
                                                if (isPreview && !req.query.pdf)
                                                    a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/${language}/item/${redirect.id}`, target='_blank', rel='noopener') Edit
                    else
                        div There are no Redirect rules set up in the current project.
                            
                h2 Redirect URLs for articles and scenarios
                table
                    tr
                        td Redirect to
                        td Redirect from
                    if redirectMap.length
                        each url in redirectMap    
                            tr
                                td 
                                    a(href= `${url.originalUrl.includes('://') ? `${req.protocol}://${req.get('host')}` : ''}${url.originalUrl}`, target='_blank') #{url.originalUrl}
                                td(class=`${isPreview && !req.query.pdf ? 'utilities-table-cell-edit-link-wrapper' : ''}`)
                                    ol
                                        each redirect in url.redirectUrls
                                            li #{redirect} 
                                    if (isPreview && !req.query.pdf)
                                        a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/${language}/item/${url.id}/element/redirect_urls`, target='_blank', rel='noopener').utilities-table-cell-edit-link Edit
                    else
                        div There are no redirects in articles or scenarios.
            