<?xml version="1.0" encoding="UTF-8"?>
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
    channel
        | <atom:link href="!{domain}/learn/rss/changelog/" rel="self" type="application/rss+xml"></atom:link>
        title <![CDATA[!{decode(helper.stripTags(home.elements.title.value).trim())} - !{decode(helper.stripTags(title).trim())}]]>
        language en-us
        | <link>!{domain}</link>
        | <description><![CDATA[!{decode(helper.stripTags(home.elements.description.value).trim())}]]></description>
        each item in releaseNotes
            - const anchorName = helper.generateAnchor(item.elements.title.value);
            - const url = `${domain}${path}#a-${anchorName}`;
            item
                title <![CDATA[!{decode(helper.stripTags(item.elements.title.value).trim())}]]>
                pubDate !{dayjs.tz(item.elements.release_date.value).format('ddd, DD MMM YYYY HH:mm:ss ZZ')}
                atom:updated !{dayjs.tz(item.elements.release_date.value).format('YYYY-MM-DDTHH:mm:ssZ')}
                | <description><![CDATA[!{decode(helper.stripTags(item.elements.content.value).trim().replace(/(\r\n|\n|\r)/gm, ''))}]]></description>
                | <link>!{url}</link>
                | <guid isPermaLink="false">!{url}</guid>
