extends ../includes/layout.pug
block content
    main(id='main')
        .article
            .article__left
                include ../includes/sub-navigation.pug
            .article__right
                .article__content&attributes(smartLink?.itemId(itemId))
                    if termDefinitions
                        .term-tooltip-container(aria-hidden='true')
                            .term-tooltip-content
                            .term-tooltip-close
                            .term-tooltip-arrow
                    h1&attributes(smartLink?.elementCodename('title')) !{content.title.value}
                    .article__notes
                        if (!hideAuthorLastModified)
                            time.article__date(datetime= moment(content.system.lastModified).format('YYYY-MM-DD')) !{moment(content.system.lastModified).format('MMMM D, YYYY')}
                            .article__author
                                if (content.author.value && content.author.value.length)
                                    each author, index in content.author.value
                                        - let separator = ''; if (index < content.author.value.length - 2) {separator = ', ';} if (index === content.author.value.length - 2) {separator = ' and '}
                                        span&attributes(smartLink?.itemId(author.system.id))&attributes(smartLink?.elementCodename('name')) !{author.name.value}!{separator}
                                else
                                    span&attributes(smartLink?.itemId(UIMessages.system.id))&attributes(smartLink?.elementCodename('article___no_author')) !{UIMessages.article___no_author.value}
                        if (isPreview && !req.query.pdf)
                            a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/${language}/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    if (introduction && introduction !== '<p><br></p>')
                        div&attributes(smartLink?.elementCodename('introduction')) !{minify(introduction)}
                    div(data-aside-container='table-of-contents')
                        div(data-aside='table-of-contents')
                            include ../includes/table-of-contents.pug
                    div&attributes(smartLink?.elementCodename('content')) !{minify(content.content.value)}
                    if (!hideFeedback)
                        div(data-aside-container='feedback')
                            div(data-aside='feedback')
                                include ../includes/feedback.pug
            aside.article__aside
                .aside
    if (!hideFeedback)
        include ../includes/feedback-form.pug
