extends ../includes/layout.pug
mixin lmsInfo(environment)
  - var lmsInfoEnv = trainingCourseInfo[environment]
  - var isPreview = environment === 'preview'
  - var prefix = isPreview ? '(Preview) ' : ''
  if (lmsInfoEnv)
    .article__row-links&attributes(smartLink?.itemId(UIMessages.system.id))
      if (lmsInfoEnv.renderAs === 'button')
        a.call-to-action&attributes({ 'href': lmsInfoEnv.url ? lmsInfoEnv.url : '#' })&attributes(lmsInfoEnv.target ? { 'target': lmsInfoEnv.target } : {})&attributes(lmsInfoEnv.action === 'intercom' ? { 'data-click': 'support' } : {})
          span !{prefix}!{lmsInfoEnv.text}
          span
      else
        span !{prefix}!{lmsInfoEnv.text}
      if (lmsInfoEnv.signup)
        a.call-to-action(href='https://app.kontent.ai/sign-up', target='_blank')
          span !{prefix}!{UIMessages.sign_up_button.value}
          span
      if (lmsInfoEnv.certificate)
        a.link(href= lmsInfoEnv.certificate.public_url, target='_blank')&attributes(smartLink?.elementCodename('training___download_certificate')) !{UIMessages.training___download_certificate.value}
        - const certIssue = lmsInfoEnv.certificate.issued_date.split('/').map(x => parseInt(x));
        - const certExpiration = lmsInfoEnv.certificate.expiration_date.split('/').map(x => parseInt(x));
        - const certName = encodeURIComponent(lmsInfoEnv.certificate.course_name);
        a.link(href=`https://www.linkedin.com/profile/add?startTask=${certName}&name=${certName}&organizationId=373060&issueYear=${certIssue[0]}&issueMonth=${certIssue[1]}&expirationYear=${certExpiration[0]}&expirationMonth=${certExpiration[1]}&certUrl=${lmsInfoEnv.certificate.public_url}`, target='_blank')&attributes(smartLink?.elementCodename('training___add_to_linkedin')) !{UIMessages.training___add_to_linkedin.value}
      if (!isPreview && lmsInfoEnv.signedIn)
        a.link(href='/logout')&attributes(smartLink?.elementCodename('sign_out_button')) !{UIMessages.sign_out_button.value}
block content
    main(id='main')
        .article
            .article__left
              if (tempNewStructure)
                include ../includes/sub-navigation.pug
            .article__right
                .article__content&attributes(smartLink?.itemId(itemId))
                    h1&attributes(smartLink?.elementCodename('title')) !{content.title.value}
                      - const isFree = content.is_free ? helper.isCodenameInMultipleChoice(content.is_free.value, 'yes') : false;
                      if (isFree)
                        span.article__tag.article__tag--blue !{UIMessages.training___free_course_label.value}
                    .article__notes
                      span&attributes(smartLink?.elementCodename('duration')) !{UIMessages.training___estimated_duration.value} !{content.duration.value} !{content.duration.value === 1 ? 'hour' : `hours`}
                      if (content.persona.value.length)
                        ul.article__tags&attributes(smartLink?.elementCodename('persona'))
                          each item in content.persona.value
                            li.article__tags-item.article__tags-item--green !{item.name}
                      if (trainingCourseInfo['production'] && trainingCourseInfo['production'].completion)
                        span !{trainingCourseInfo['production'].completion}% complete
                      if (isPreview)
                        a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/${language}/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    if helper.isNotEmptyRichText(content.introduction.value)
                      div&attributes(smartLink?.elementCodename('introduction')) !{minify(content.introduction.value)}
                    if helper.isNotEmptyRichText(content.description.value)
                      div&attributes(smartLink?.elementCodename('description')) !{minify(content.description.value)}
                    +lmsInfo('general')
                    +lmsInfo('production')
                    +lmsInfo('preview')
                    