extends ../includes/layout.pug
block content
    - const isLoading = (typeof req.query.enroll !== 'undefined')
    main(id='main')
        if isLoading
          .loading-overlay
        .article
            .article__left
              include ../includes/sub-navigation.pug
            .article__right
                .article__content&attributes(smartLink?.itemId(itemId))
                    if termDefinitions
                      .term-tooltip-container(aria-hidden='true')
                        .term-tooltip-content
                        .term-tooltip-close
                        .term-tooltip-arrow
                    h1&attributes(smartLink?.elementCodename('title')) !{content.title.value}
                      - const isFree = content.is_free ? helper.isCodenameInMultipleChoice(content.is_free.value, 'yes') : false;
                      if (isFree)
                        span.article__tag.article__tag--blue !{UIMessages.training___free_course_label.value}
                    .article__notes#trainingNotes
                      span&attributes(smartLink?.elementCodename('duration')) !{UIMessages.training___estimated_duration.value} !{content.duration.value} !{content.duration.value === 1 ? 'hour' : `hours`}
                      if (content.persona.value.length)
                        ul.article__tags&attributes(smartLink?.elementCodename('persona'))
                          each item in content.persona.value
                            li.article__tags-item.article__tags-item--green !{item.name}
                      if (isPreview)
                        a(href=`https://app.kontent.ai/goto/edit-item/project/${projectId}/variant-codename/${language}/item/${content.system.id}`, target='_blank', rel='noopener') Edit
                    if helper.isNotEmptyRichText(content.introduction.value)
                      div&attributes(smartLink?.elementCodename('introduction')) !{minify(content.introduction.value)}
                    if helper.isNotEmptyRichText(content.description.value)
                      div&attributes(smartLink?.elementCodename('description')) !{minify(content.description.value)}
                    script var trainingCourseCodename='!{content.system.codename}';
                    .article__training-action#trainingAction&attributes(smartLink?.itemId(UIMessages.system.id))
                    